@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:ital,wght@0,200;1,200&display=swap');
.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  a.donate{
    margin-left: 37vw;
    padding: 0.5vw;
  }
 a.active{
     color: white;
 }
 .video-background-content{
     font-family: 'Poppins';
 }
 
p.mission{
  margin-top: 100em;
}
.team{
    font-family: 'Poppins';
}
.about-para{
  font-family: 'Poppins';
  justify-self: center;
  font-size: 10px;
}
.support-para{
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Poppins';
    font-size: 25px;
    justify-self: auto;
}
.products-content{
    font-family: 'Poppins';
    margin: 2rem;

}
.aboutpics{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.support-para2{
  padding-top: 1rem;
  padding-left: 25rem;
  padding-right: 5rem;
  font-family: 'Poppins';
  font-size: 15px;
  justify-self: auto;
}